#Sample keys - Replace sample with Real keys in .env file  
# Microsoft Azure AD Configuration
MICROSOFT_TENANT_ID=id
MICROSOFT_CLIENT_ID=id
MICROSOFT_CLIENT_SECRET=id
MICROSOFT_CALLBACK_URL=http://localhost:3000/auth/microsoft/callback
JWT_SECRET=Key
# OpenAI Configuration
OPENAI_API_KEY="key"
# MongoDB Configuration
MONGODB_URI="mongodb://localhost:27017/nest"

#CosmosDB Configuration
COSMOS_ACCOUNT_ENDPOINT="http://localhost:8081"
COSMOS_ACCOUNT_KEY="Cosmos_key"
COSMOS_DATABASE_ID="my-database"
COSMOS_CONTAINER_ID="my-container"
COSMOS_APPNAME="MyApp"
COSMOS_MAX_IDLE_TIME_MS="60000"
COSMOSDB_CONNECTION_STRING="AccountEndpoint=https://localhost:8081/;AccountKey=Cosmos_key"
NODE_TLS_REJECT_UNAUTHORIZED=0
